<div class="w-full h-full bg-linear-to-t to-[#BE0000] from-[#9C0000] pb-12">
    <div class="flex items-center justify-between  max-w-6xl mx-auto lg:px-8 inter-custom">
        <div class="flex justify-between items-center p-4 bg-[#D9D9D9] h-[50px] w-[35%] abril-fatface-regular shadow-md">
            <i class="fa-solid fa-magnifying-glass pr-4"></i>
            
            <input class="w-full h-full text-end focus:outline-none " type="text" placeholder="Search">
        </div>
        
    </div>
    
</div>