<nav class="flex items-center justify-between py-4 max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 inter-custom">
    <div class="w-full">
        <ul class="flex justify-around text-xl ">
            <li [routerLink]="['/products/women/ready-to-wear/view-all']" routerLinkActive="router-link-active"  class="hover:underline cursor-pointer">Ready-to-wear</li>
            <li [routerLink]="['/products/women/bags/view-all']" class="hover:underline cursor-pointer">Bags</li>
            <li [routerLink]="['/products/women/shoes/view-all']" class="hover:underline cursor-pointer">Shoes</li>
            <li [routerLink]="['/products/women/accesories/view-all']" class="hover:underline cursor-pointer">Accessories</li>
            <li [routerLink]="['/products/women/events/view-all']" class="hover:underline cursor-pointer">Events</li>
        </ul>
    </div>
</nav>


