.carousel-container {
    position: relative;
    width: 100%;
  }
  
  button {
    transition: background-color 0.3s ease;
    z-index: 10;
  }
  
  button:hover {
    background-color: #4b5563;
  }
  
  button:focus {
    outline: none;
  }
  
  .carousel-item {
    transition: transform 0.3s ease;
  }
  
  .carousel-container::-webkit-scrollbar {
    height: 8px;
  }
  
  .carousel-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }
  
  .carousel-container::-webkit-scrollbar-track {
    background: transparent;
  }
   /* Personalizar la barra de desplazamiento */
::-webkit-scrollbar {
  width: 4px; /* Ancho de la barra de desplazamiento */
  height: 10px; /* Alto de la barra de desplazamiento horizontal */
  margin: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #292929; /* Color de la parte que se desplaza */
  border-radius: 4px; /* Bordes redondeados */
  
}

::-webkit-scrollbar-track {
  background-color: #fcfbf7; /* Color de fondo de la pista (track) */
  border-radius: 4px; /* Bordes redondeados en la pista */
  padding: 2px;
}

::-webkit-scrollbar-corner {
  background-color: #f1f1f1; /* Esquina donde se encuentran las barras */
  margin: 1px;
}

  