<div class="w-full min-h-screen flex flex-col min-w-[300px] ">
    <div class="w-full h-25 sm:h-31">
        <app-header></app-header>
    </div>
    <app-search [newArrivalsHeader]="showChild" class="w-full"></app-search>
    <div class="flex w-full h-full mt-10">
        
        <div class="w-full max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
            
            
            @if (product) {
                <div class="flex flex-row items-center my-6">
                    <!-- Imagen del producto -->
                    <div class="flex  w-full h-[500px]">
                        <!-- Barra lateral con miniaturas -->
                        <div class="w-1/5 flex flex-col  bg-gray-200 overflow-y-auto" >
                            
                            @for (foto of getFotosGaleria(); track $index) {
                                <div>
                                  <img [src]="foto" alt="Imagen producto" 
                                       class="cursor-pointer object-cover hover:opacity-75" 
                                       (click)="cambiarImagen(foto)">
                                </div>
                              }
                          
                        </div>

                        <!-- Imagen principal -->
                        <div class="w-4/5 flex justify-center items-center">
                            <div class=" h-full w-full">
                                <img  [src]="fotoSeleccionada || product?.galeria?.fotoFrontal" alt="Imagen principal producto" class="w-full h-full rounded-md object-contain ">
                            </div>
                        </div>
                      </div>
                    
                    <!-- Detalles del producto -->
                    <div class="flex justify-end w-1/2 pl-10">
                        <div class="w-full  bg-white text-center shadow-2xl text-[#2c2c2c] p-10 inter-custom">
                                <h3  class="text-xl cursor-pointer">{{ product.subcategoria.nombre}}</h3>
                                <h1 class="text-2xl abril-fatface-regular">{{ product.name}}</h1>
                                <button 
                                (click)="toggleFavorito(product)" 
                                class=" p-2 "
                                >
                                <i [ngClass]="esFavorito(product.idProducto) ? 'fa-solid fa-bookmark' : 'fa-regular fa-bookmark'" 
                                class="text-[#2C2C2C] text-xl">
                                </i>
                                </button>
                                <p class="text-[#474747]"> Retail price: <span class="line-through">{{ product.price}}</span></p>
                            <p class="text-2xl font-semibold mt-2 text-gray-800"><span>Precio final</span> </p>
                        <div class="px-5">
                            <div class="flex flex-wrap justify-center gap-2 w-full">
                                @for (color of product.color; track $index) {
                                <div 
                                    (click)="onSelectedColor(color)" 
                                    class="cursor-pointer p-1 transition duration-200 border"
                                    [class.border-black]="selectedColor === color"
                                    [class.border-2]="selectedColor === color"
                                    [class.border-0]="selectedColor !== color"
                                > 
                                    <div 
                                    class="w-4 h-4 " 
                                    [ngStyle]="{ 'background-color': getCssColor(color) }"
                                    ></div>
                                </div>
                            }
                        </div>




                            @if (availableSizes.length > 0) {
                                <div class="mt-4 text-end">
                                    <label class="block text-[#474747] text-sm mb-2 underline cursor-pointer">Size guide</label>
                                    <select [(ngModel)]="selectedSize" (change)="onSelectSize($event)" class="border p-2 w-full">
                                        <option class="text-center text-[#474747]" value="" disabled selected>Select Size</option>
                                        
                                        @for (size of availableSizes; track $index) {
                                            <option [value]="size">{{size}}</option> 
                                        }
                                    </select>
                                </div>
                            }
                           
                            @if (availableStates.length > 0) {
                                <div class="mt-4 text-end flex flex-col w-full">
                                  <label class="block text-[#474747] text-sm mb-2 underline cursor-pointer">Condition information</label>
                                  <div class="w-full grid grid-cols-2 gap-2">
                                    @for (state of availableStates; track $index) {
                                      <button
                                        (click)="onSelectedState(state.idArticulo)"
                                        [disabled]="state.deshabilitado"
                                        [class]="{'selected-state': selectedStateId === state.idArticulo}"
                                        class="border p-3 text-center w-full hover:bg-[#2c2c2c] hover:text-white transition">
                                        {{ state.estados }} 
                                      </button>
                                    }
                                  </div>
                                </div>
                              }
                            

                            <div class="mt-4 text-end">
                                <label class="block text-[#474747] text-sm mb-2 underline cursor-pointer" >Reserve</label>
                                <input class="w-full p-2 border-1 text-center" type="text" placeholder="Days" >
                            </div>

                            </div>
                                    
                            <button [routerLink]="['/bag/']" 
                            class="mt-6 bg-[#2c2c2c] text-white text-2xl py-3 w-full font-semibold hover:bg-[#2c2c2cad] transition inter-custom"
                            (click)="addToBag()">
                                ADD TO THE BAG
                            </button>
                            <div class="inter-custom m-4">
                                <p>{{product.description}}</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            }

            <app-product-information></app-product-information>
            
            <h2 class="text-6xl abril-fatface-regular font-bold mb-10 mt-40 text-[#2c2c2c]">You may also like</h2>
            <app-random-products ></app-random-products>
        </div>
        
    </div>
  
    <app-footer></app-footer>
</div>
