<div class="w-full min-h-screen flex flex-col ">

    <app-header></app-header>

    <div class=" text-[#2C2C2C] py-8">
        <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 pt-40">
            <div class="">
                <div class="border-b-1 border-[#D9D9D9] pb-2 mb-2 flex justify-between">
                    <h2 class="text-4xl font-bold">Bag</h2>
                    <img (click)="goBack()" src="/flecha.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="w-full max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <h2 class="text-6xl abril-fatface-regular font-bold mb-10 mt-40 text-[#2c2c2c]">You may also like</h2>
        <app-random-products></app-random-products>
    </div>


    <app-footer></app-footer>
</div>