.carousel-container {
    position: relative;
    width: 100%;
  }
  
  button {
    transition: background-color 0.3s ease;
    z-index: 10;
  }
  
  button:hover {
    background-color: rgba(167, 167, 167, 0.541);
    color: #2c2c2c;
  }
  
  button:focus {
    outline: none;
  }
  
  .carousel-container::-webkit-scrollbar {
    height: 8px;
  }
  
  .carousel-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }
  
  .carousel-container::-webkit-scrollbar-track {
    background: transparent;
  }
  