<div [routerLink]="['/product', getSexo(), getCategoria(), getSubcategoria(), getName()]" 
     class="cursor-pointer inter-custom text-[#2c2c2c] transition-transform duration-200 ease-in-out transform hover:-translate-y-1 hover:shadow-lg"
     (click)="$event.stopPropagation()">
     <div class="w-full h-[400px] bg-gray-300">
        <img class="w-full h-full object-cover object-center" [src]="product.galeria?.fotoFrontal" alt="{{ product.name }}"/>
    </div>
    
    <div class="p-4 relative">
        <div class="w-full flex items-center space-x-2 justify-center">
            <h3 class="text-lg">{{ product.name }}</h3>
            <button 
                (click)="toggleFavorito(product); $event.stopPropagation()" 
                class="absolute top-2 right-2 p-2 "
            >
                <i [ngClass]="esFavorito(product.idProducto) ? 'fa-solid fa-bookmark' : 'fa-regular fa-bookmark'" 
                   class="text-[#2C2C2C] text-xl">
                </i>
            </button>
        </div>
        <p class="font-bold text-sm text-center">from {{ getPrice() }}€</p>
    </div>
</div>