<body class="h-screen w-screen flex items-start justify-center bg-gray-100 inter-custom">
    
    <div class="w-full h-screen flex flex-col sm:flex-col h-1/2 md:flex-row xl:flex-row shadow-lg">
        
        <!-- Login Form Section -->
        <div class="xl:w-2/3 sm:w-full bg-white p-8 flex flex-col  h-full text-[#2c2c2c] ">
            <button (click)="goBack()" class="absolute text-[#2C2C2C]"><i class="fa-solid fa-arrow-left fa-2xl"></i></button>
            <div class="my-15  xl:mx-30 mx:auto">
                <div class="xl:flex xl:justify-between border-dashed border-b-2 pb-6 xl:items-stretch border-gray-200 mb-6">
                    <h2 class="xl:w-1/3 text-6xl font-bold abril-fatface-regular mb-4">Input your information</h2>
                    <div class="xl:w-1/3 ">
                        <p class="text-sm text-gray-600 self-center text-pretty leading-loose inter-custom ">
                            We need you to help us with some basic information for your account creation. Here are our terms and conditions. Please read them carefully. We are GDPR compliant.
                        </p>
                        <div>
                            <a [routerLink]="['/login']" class="text-blue-500 text-sm hover:underline">Are you a member?<i class="fa-regular fa-user text-sm ml-2 cursor-pointer"></i></a>
                        </div>
                    </div>
                    
                </div>
                <form [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="border-dashed border-b-2 pb-6 border-gray-200 mb-6">
                    
                    <div class="border-dashed border-b-2 pb-6 border-gray-200 ">
                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                <label class="block text-sm font-medium text-gray-700">First name</label>
                                <input formControlName="firstname" name="firstname" type="text" class="mt-1 p-2 pl-6 w-full border focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="John">
                                <small *ngIf="registerForm.get('firstname')?.hasError('required') && registerForm.get('firstname')?.touched" class="text-red-600">First name is required</small>
                            </div>
                            <div>
                                <label class="block text-sm font-medium text-gray-700">Last name</label>
                                <input formControlName="lastname" name="lastname" type="text" class="mt-1 p-2 w-full pl-6 border focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Smith">
                                <small *ngIf="registerForm.get('lastname')?.hasError('required') && registerForm.get('lastname')?.touched" class="text-red-600">Last name is required</small>
                            </div>
                        </div>

                        <div class="grid grid-cols-2 gap-4">
                            <div class="mt-4">
                                <label class="block text-sm font-medium text-gray-700">Username</label>
                                <input formControlName="username" name="username" type="text" class="mt-1 p-2 w-full pl-6 border focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="JojoSmith">
                                <small *ngIf="registerForm.get('username')?.hasError('required') && registerForm.get('username')?.touched" class="text-red-600">Username is required</small>
                            </div>
                            
                            <div class="mt-4">
                                <label class="block text-sm font-medium text-gray-700">Email</label>
                                <input formControlName="email" name="email" type="email" class="mt-1 p-2 w-full pl-6 border focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="johnsmith@gmail.com">
                                <small *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched" class="text-red-600">Invalid email format</small>
                                <small *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched" class="text-red-600">Email is required</small>
                            </div>
                        </div>
                        
                        
                        <div class="grid grid-cols-2 gap-4">
                            <div class="mt-4">
                                <label class="block text-sm font-medium text-gray-700">Phone number (optional)</label>
                                <input formControlName="telefono" name="telefono" type="text" class="pl-6 p-2 border w-full focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="00 000 000">
                                <small *ngIf="registerForm.get('telefono')?.hasError('required') && registerForm.get('telefono')?.touched" class="text-red-600">Phone number is required</small>
                            </div>
                            
                            <div class="mt-4">
                                <label class="block text-sm font-medium text-gray-700">Address</label>
                                <input formControlName="direccion" name="direccion" type="text" class="p-2 w-full pl-6 border focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="49th St, 39-45">
                                <small *ngIf="registerForm.get('direccion')?.hasError('required') && registerForm.get('direccion')?.touched" class="text-red-600">Address is required</small>
                            </div>
                        </div>
                    </div>    
                        <div class="grid grid-cols-2 gap-4 mt-4">
                            <div>
                                <label class="block text-sm font-medium text-gray-700">Password</label>    
                                <input formControlName="password" name="password" type="password" class="mt-1 p-2 w-full border focus:outline-none focus:ring-2 focus:ring-blue-500">
                                
                            </div>
                            <div>
                                <label class="block text-sm font-medium text-gray-700">Confirm password</label>
                                <input formControlName="confirmPassword" name="confirmPassword" type="password" class="mt-1 p-2 w-full border focus:outline-none focus:ring-2 focus:ring-blue-500">
                            </div>
                            <small *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched" class="text-red-600">Password is required</small>
                            <small *ngIf="registerForm.get('confirmPassword')?.hasError('required') && registerForm.get('confirmPassword')?.touched" class="text-red-600">Confirm password</small>

                            <small *ngIf="registerForm.hasError('passwordsDoNotMatch') && registerForm.get('confirmPassword')?.touched" class="text-red-600">Passwords do not match</small>
                        </div>
                    
                </div>
                        
                <div class="flex justify-between items-center">
    <div class="mt-4 flex items-center">
        <!-- Vincula el checkbox al formulario -->
        <input id="remember" name="terms" formControlName="terms" type="checkbox" class="mr-3 w-6 h-6 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800" />
        <label for="terms" class="text-sm text-gray-700">
            I agree with <a href="#" class="text-blue-600">terms and conditions</a>.
        </label>
    </div>
    <!-- Aplica la clase .disabled si el checkbox no está marcado -->
    <button 
        type="submit" 
        [disabled]="!registerForm.get('terms')?.value" 
        [ngClass]="{'disabled': !registerForm.get('terms')?.value}"
        class="w-[20%] bg-[#B30101] text-white py-2 hover:bg-red-600"
    >
        Register
    </button>
</div>

                </form>
            </div>
            
        </div>
        
        <!-- Image Section -->
        <div class="xl:w-1/3 sm:w-full h-1/2 w-full relative h-full flex items-start">
            <img src="/poster3.png" alt="Stylized Dior Cactus Jack" class="w-full h-full object-cover object-top">
            <div class="absolute inset-0 bg-blue-900 mix-blend-multiply opacity-30"></div>
        </div>
    </div>
</body>
