<div class="w-full min-h-screen flex flex-col">
  <app-header></app-header>

  <div class="text-[#2C2C2C] py-8">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 pt-40">
      <!-- Header y botón de volver -->
      <div class="border-b border-[#D9D9D9] pb-2 mb-6 flex justify-between items-center">
        <h2 class="text-4xl font-bold">Orders</h2>
        <img (click)="goBack()" src="/flecha.svg" alt="Volver" class="cursor-pointer" />
      </div>

      <!-- Barra de filtros por estado -->
      <div class="flex flex-wrap justify-center gap-2 mb-8">
        <button
          *ngFor="let estado of estados"
          (click)="cambiarEstado(estado)"
          class="px-4 py-2  text-2xl  transition-colors"
          [ngClass]="{
            ' text-black': estado === estadoSeleccionado,
            ' text-gray-500': estado !== estadoSeleccionado
          }"
        >
          {{ estado }}
        </button>
      </div>

      <!-- Lista de pedidos filtrados -->
      <div *ngIf="pedidosFiltrados.length > 0; else sinPedidos">
        <div *ngFor="let order of pedidosFiltrados" class="mb-6 p-4 bg-white shadow  flex gap-4">
          
          <!-- Miniaturas (hasta 4) -->
          <div
            class="image-grid"
            [ngClass]="{
              'one': order.articulosEnPedido.length === 1,
              'two': order.articulosEnPedido.length === 2,
              'three': order.articulosEnPedido.length === 3,
              'four': order.articulosEnPedido.length >= 4
            }"
          >
            <img
              *ngFor="let articulo of order.articulosEnPedido | slice:0:4"
              [src]="fotosMap[articulo.id.idArticulo]"
              alt="Imagen producto"
              class="image-item "
            />
          </div>




          <!-- Info del pedido -->
          <div class="flex-1">
            <p><strong>ID order:</strong> {{ order.idPedido }}</p>
            <p><strong>Status:</strong> {{ order.estado }}</p>
              <p><strong>Date:</strong> {{ order.fecha | date:'shortDate' }}</p>
              <p><strong>Address:</strong> {{ order.usuario.direccion }}</p>

            <p><strong>Quantity:</strong> {{ order.articulosEnPedido?.length }}</p>
          </div>
          <a
            class="underline cursor-pointer text-blue-600 hover:text-blue-800"
            [routerLink]="['/user/orders', order.idPedido]"
          >
            Details
          </a>
        </div>
      </div>

      <!-- Sin pedidos -->
      <ng-template #sinPedidos>
        <p class="text-gray-500 text-lg text-center mt-10">
          No hay pedidos en este estado.
        </p>
      </ng-template>
    </div>
  </div>

  <app-footer></app-footer>
</div>
