<body class="h-screen w-screen flex items-start justify-center bg-gray-100 inter-custom">
    
    <div class="w-full h-screen flex flex-col sm:flex-col h-1/2 md:flex-row xl:flex-row shadow-lg">
        
        <!-- Login Form Section -->
        <div class="xl:w-1/3 md:w-1/2 sm:w-full bg-white p-8 flex flex-col  h-full text-[#2c2c2c] ">
            <button (click)="goBack()" class="absolute text-[#2C2C2C]"><i class="fa-solid fa-arrow-left fa-2xl"></i></button>
            <div class="my-30 mx-20">
                <div class=" border-dashed border-b-2 border-gray-200 mb-6">
                    <h2 class="text-6xl font-bold mb-4  abril-fatface-regular ">Forgot password?</h2>
                    <p class="text-sm text-gray-600 mb-6">Don’t worry we can help you out! if you still remember your email address you can quickly reset your password. Just input that information in the fields below and click on the button. This will send you a new email that will link you to the password change website. </p>
                </div>
            <div class=" border-dashed border-b-2 border-gray-200 pb-8 mb-6">
                <label class="text-gray-500 text-sm ">Email addres</label>
                <input type="text" placeholder="jonh@gmail.com" class="w-full  px-4 py-2 border focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div >
            <div class="flex justify-between items-center ">
                
                <button class="w-[100%] bg-[#B30101] text-white  py-2 hover:bg-red-600 ">Request password change</button>
            </div>
            
            </div>
            <div class="w-full text-[#2C2C2C] text-sm flex flex-col justify-center text-center">
                Do you nedd help? <a href="#" class="text-blue-500 text-sm hover:underline">Customer support</a>
            </div>
        </div>
        
        <!-- Image Section -->
        <div class="xl:w-2/3 md:w-1/2 sm:w-full h-1/2 w-full relative h-full flex items-start">
            <img src="/poster2.png" alt="Stylized Dior Cactus Jack" class="w-full h-full object-cover object-top">
            <div class="absolute inset-0 bg-blue-900 mix-blend-multiply opacity-10"></div>
        </div>
    </div>
</body>
