/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
.app-container {
    background-image: url('assets/background/noisy_background.png');
    background-size: cover;         
    background-position: center;    
    background-attachment: fixed;   
    margin: 0;                      
    height: 100vh; 
    background-repeat: repeat; 
    min-width: 300px;                
  }
  .abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  }
  .inter-custom {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;  /* Cambia el peso a lo que desees, por ejemplo 400 para normal */
    font-style: normal;
  }