<nav class="flex items-center justify-between py-4 max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 inter-custom">
    <div class="w-full">
        <ul class="flex justify-around text-xl ">
            <li class="hover:underline cursor-pointer">Reade-to-wear</li>
            <li class="hover:underline cursor-pointer">Bags</li>
            <li class="hover:underline cursor-pointer">Shoes</li>
            <li class="hover:underline cursor-pointer">Accessories</li>
            <li class="hover:underline cursor-pointer">Events</li>
        </ul>
    </div>
</nav>

