<div class="bg-[#2C2C2C] text-white content-center px-8 h-50 ">
    <!-- Sección de Newsletter -->
    <div class="flex flex-col lg:flex-row items-center justify-between gap-4 max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 inter-custom " >
      <!-- Texto del Newsletter -->
      <div>
        <h2 class="text-2xl font-bold mb-2">Join Our Newsletter</h2>
        <p class="text-sm">We love to surprise our subscribers with occasional gifts.</p>
      </div>
  
      <!-- Formulario de suscripción -->
      <div class="flex items-center w-full lg:w-auto">
        <input 
          type="email" 
          placeholder="Email" 
          class="inter-custom bg-gray-300 text-gray-800 text-sm font-mono px-4 py-2 w-full lg:w-64 outline-none border-none"
        >
        <button 
          class="bg-red-700 text-white text-sm px-4 py-2 ml-2 hover:bg-red-800"
        >
          Subscribe
        </button>
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer class=" text-[#2C2C2C] py-8">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 ">
      <div class="flex flex-col md:flex-row justify-between  inter-custom ">
        
        <!-- Logo y descripción -->
        <div class="flex flex-col items-start">
          <div class="flex items-center mb-2">
            <!-- Icono de la marca -->
            <div class="text-2xl font-bold abril-fatface-regular">EMPERX</div>
          </div>
          <p class="text-sm mb-4 ">Flaunt it!</p>
          <!-- Iconos de redes sociales -->
          <div class="flex space-x-4">
            <a href="#" class="text-[#2C2C2C] hover:text-[#414141]">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="#" class="text-[#2C2C2C] hover:text-[#414141]">
              <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="#" class="text-[#2C2C2C] hover:text-[#414141]">
              <i class="fa-brands fa-youtube"></i>
            </a>
          </div>
        </div>
  
        <!-- Enlaces del footer -->
        <div class="grid grid-cols-2 md:grid-cols-4 gap-8 text-sm h-90 p-3">
          
          <!-- Support -->
          <div>
            <h3 class="font-semibold md:mb-14 ">SUPPORT</h3>
            <ul class="md:space-y-7">
              <li><a href="#" class="hover:underline">FAQ</a></li>
              <li><a href="#" class="hover:underline">Terms of use</a></li>
              <li><a href="#" class="hover:underline">Privacy Policy</a></li>
            </ul>
          </div>
  
          <!-- Company -->
          <div>
            <h3 class="font-semibold md:mb-14">COMPANY</h3>
            <ul class="md:space-y-7">
              <li><a href="#" class="hover:underline">About us</a></li>
              <li><a href="#" class="hover:underline">Contact</a></li>
              <li><a href="#" class="hover:underline">Careers</a></li>
            </ul>
          </div>
  
          <!-- Shop -->
          <div>
            <h3 class="font-semibold md:mb-14">SHOP</h3>
            <ul class="md:space-y-7">
              <li><a href="#" class="hover:underline">My Account</a></li>
              <li><a href="#" class="hover:underline">Checkout</a></li>
              <li><a href="#" class="hover:underline">Management</a></li>
            </ul>
          </div>
  
          <!-- Accepted Payments -->
          <div>
            <h3 class="font-semibold md:mb-14">ACCEPTED PAYMENTS</h3>
            <div class="flex justify-between space-x-4">
              <!-- Iconos de métodos de pago -->
               <div class="flex items-center">
                <img src="/mastercard.png" alt="Mastercard">
               </div>
               <div class="flex items-center">
                <img src="/Amex.png" alt="Amex">
               </div>
               <div class="flex items-center">
                <img src="/Visa.png" alt="Visa">
               </div>
              

            </div>
          </div>
  
        </div>
      </div>
  
      <!-- Línea divisoria -->
      <div class="border-t border-gray-300 mt-8 pt-4 text-center text-sm">
        © 2025 EMPERX. All rights reserved.
      </div>
    </div>
  </footer>
  




