<div class="w-[full] bg-[#2c2c2c] text-white py-11  inter-custom space-y-8 h-[100vh] overflow-auto px-15">
  <h3 class="text-4xl font-bold mb-4 abril-fatface-regular">Filters</h3>

  <!-- Filtros Generales -->
  @for (filter of ['gender', 'subcategory', 'size', 'priceRange', 'brand', 'color']; track $index) {
    <div class="flex justify-between items-center ">
      <div (click)="toggleDropdown(filter)" class="w-full cursos-pointer border-dashed border-b-2 border-gray-200 mb-6 pb-6"> 
        <div class="w-full flex justify-between items-center ">
          <p class=" capitalize text-xl">{{filter}}</p> 
          <i class="fa-solid" [class]="{'fa-chevron-down': filterVisibility[filter], 'fa-chevron-right': !filterVisibility[filter]}"></i>
        </div>
        
        @if (filterVisibility[filter]) {
          <div class="w-full mt-2">
            <div>
              @switch (filter) {
                @case ('gender') {
                  <div class="flex flex-col ">
                    <button class=" mr-2 text-start hover:bg-[#ffffff1c]" [class.activeGender]="isCheckedMen" (click)="onCheckboxChange( 'men')" >Men</button>
                    <button class="mr-2 text-start hover:bg-[#ffffff1c]" [class.activeGender]="isCheckedWomen"  (click)="onCheckboxChange('women')">Women</button>
                    <!-- <label class="block"><input  > Male</label>
                    <label class="block"><input  > Female</label> -->
                  </div>
                }
                @case ('subcategory') {
                  <div>
                    <label class="block"><input type="checkbox" class="mr-2"> Shirts</label>
                    <label class="block"><input type="checkbox" class="mr-2"> Pants</label>
                    <label class="block"><input type="checkbox" class="mr-2"> Jackets</label>
                  </div>
                }
                @case ('size') {
                  <div>
                    <label class="block"><input type="checkbox" class="mr-2"> S</label>
                    <label class="block"><input type="checkbox" class="mr-2"> M</label>
                    <label class="block"><input type="checkbox" class="mr-2"> L</label>
                    <label class="block"><input type="checkbox" class="mr-2"> XL</label>
                  </div>
                }
                @case ('priceRange') {
                  <div>
                    <label class="block"><input type="checkbox" class="mr-2"> $0 - $50</label>
                    <label class="block"><input type="checkbox" class="mr-2"> $50 - $100</label>
                    <label class="block"><input type="checkbox" class="mr-2"> $100 - $200</label>
                  </div>
                }
                @case ('brand') {
                  <div>
                    <label class="block"><input type="checkbox" class="mr-2"> Nike</label>
                    <label class="block"><input type="checkbox" class="mr-2"> Adidas</label>
                    <label class="block"><input type="checkbox" class="mr-2"> Puma</label>
                  </div>
                }
                @case ('color') {
                  <div>
                    <label class="block"><input type="checkbox" class="mr-2"> Red</label>
                    <label class="block"><input type="checkbox" class="mr-2"> Blue</label>
                    <label class="block"><input type="checkbox" class="mr-2"> Black</label>
                    <label class="block"><input type="checkbox" class="mr-2"> White</label>
                  </div>
                }
              }
            </div>
          </div>
        }
      </div>
    </div>
  }
</div>
